#timer {
    font-size: 108px;
    width: 270px;
    height: 150px;
}

body {
    width: 360px;
    height: 450px;
    background-color: #a8bafa;
}


.time {
    height: 50px;
    margin: 10px 45px;
    color: white;
    border: none;
    background: transparent;
    font-size: 20px;
}


span {
font-size: 41px;
padding: 0px;
}

.operation {
width: 100%;
border-collapse: collapse;
}

.operation_btn {
font-size: 20px;
width: 100%;
height: 100%;
background: linear-gradient(to bottom right, #A4FBEB, #8cacff);
}

.cal {

height: 80px;
border: 1px solid;
padding: 0px;
}

.slash {
color: grey;
}

#time {
margin-left: 5px;
}